Repository cisagov/openvpn-server-tf-module, pull requests merged in 2020-03, with the labels that each got.

#10 Bug fix/cloud config overwrite
  cloud_init.tf
Labels: bug

#11 Add variables for pushing configs to clients for DNS
  README.md
  cloud_init.tf
  cloudinit/openvpn-config.tpl.yml
  variables.tf
Labels: enhancement

#15 Move constants out of verify-cn script to a config file.
  README.md
  cloud_init.tf
  cloudinit/verify-cn.tpl.yml
  variables.tf
Labels: bug, enhancement

#18 Adapt code to work with new cisagov/ssm-read-role-tf-module outputs
  cloud_init.tf
  iam.tf
Labels: bug
